*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#html,body{
    height: 100%;
    width: 100%;
}
h2{
text-align: center;
  color: rgb(79, 75, 75);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900;
}
.line {
    transform: translateY(350px);
    width: 100%;
    height: 1px;
    background-color: #000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }

  .tank {
    left: 20px;
    transform: translateY(350px);
    width: 230px;
    height: 150px;
    background-color: #ff9500;
    position: relative;
    border: 1px solid #000;
    border-radius: 0 0 16px 16px;
  }
  .base {
    margin-top: 43%;
    border: 1px solid #000;
    width: 100%;
    height: 50px;
    background-color: rgba(243, 82, 2, 0.628);
    border-radius: 0 0 16px 16px;
  }


  .tank2 {
    left: 25%;
    transform: translateY(50px);
    width: 230px;
    height: 150px;
    background-color: #ff9500;
    position: relative;
    border: 1px solid #000;
    border-radius: 0 0 16px 16px;
  }
  .base2 {
    border: 1px solid #000;
    margin-top: 43%;
    width: 100%;
    height: 50px;
    background-color: rgba(243, 82, 2, 0.628);
    border-radius: 0 0 16px 16px;
  }


  .tank3 {
    left: 80%;
    transform: translateY(50px);
    width: 230px;
    height: 150px;
    background-color: #00b3ff;
    position: relative;
    border: 1px solid #000;
    border-radius: 0 0 16px 16px;
  }
  .base3 {
    border: 1px solid #000;
    margin-top: 43%;
    width: 100%;
    height: 50px;
    background-color: #00b3ff;
    border-radius: 0 0 16px 16px;
  }


  .beaker-tank {
    width: 250px;
    height: 250px;
    /* background-color: #40baef; */
    position: relative;
    overflow: hidden;
    transform: translateX(270%);
    margin-top: -8%;
    /* border: 2px solid #000;   */
  }
  
  .beaker-body {
    width: 100%;
    height: 300%;
    position: absolute;
    /* margin-top: -5; */
    /* background-color: red; */
    z-index: 1;
    border-top: 130px solid #42b2e2;
     border-right: 50px solid transparent;
     border-left: 50px solid transparent;
  }
  
  .beaker-base {
    width: 150px;
    height: 40px;
    background-color: #f0f04cf4;
    position: absolute;
    bottom: 33%;
    left: 50%;
    border: 2px solid #000;
    transform: translateX(-50%);
    z-index: 3;
  }
 
  .fan1 {
    z-index: 999;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    border: 15px solid #2c5ccd;
  }
   
#line1{
    position: relative;
    top: 40%;
    width: 290%;
    margin-left: -65%;
    height: 20%;
    background-color: #fff;
}
#line2{
    position: relative;
    width: 320%;
    left: 47%;
    height: 20%;
    background-color: #fff;
    transform: translate(-50%,-50%) rotate(90deg);
}

  @keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  .fan2 {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 999;
    top: 26%;
    left: 55%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: spin 2s linear infinite;
    border: 15px solid #4376dc;
  }

  #line3{
    position: relative;
    top: 40%;
    width: 290%;
    margin-left: -65%;
    height: 20%;
    background-color: #fff;
}
#line4{
    position: relative;
    width: 320%;
    left: 47%;
    height: 20%;
    background-color: #fff;
    transform: translate(-50%,-50%) rotate(90deg);
}

  @keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
 
  .pipe1 {
    margin-top: -18%;
    margin-left: 11%;
    width: 107px;
    height: 10px;
    background-color: #045037b4;
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .pipe2 {
    margin-top: -18%; 
    height: 10px;
  }
  
.pipe3 {
    margin-top: 10%;
    margin-left: 37%;
    width: 50px;
    height: 10px;
    background-color: #eef2e9;
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .pipe4 {
    position: absolute;
    bottom: 76%;
    margin-left: 36.6%;
    width: 140px;
    height: 10px;
    background-color: #eef2e9;
  }
   
  .pipe5 {
    position: absolute;
    z-index: 999;
    margin-left: 38%;
    width: 75px;
    height: 10px;
    background-color: #045037b4;
  }
 
  .curve {
    position: absolute;
    width: 30%;
    margin-top: -13.6%;
    margin-left: 49%;
    transform: translate(-50%,-50%) rotate(40deg);
  }
  
  .curve path {
    transform: translateY(65%);
    fill: none;
    stroke: #045037b4;
    stroke-width: 9;
  }

  .pipe7 {
    margin-top: -3%;
    margin-left: 46%;
    width: 37px;
    height: 10px;
    background-color: #eef2e9;
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .pipe8 {
    position: absolute;
    bottom: 80%;
    margin-left: 45.6%;
    width: 150px;
    height: 10px;
    background-color: #eef2e9;
  }

  .pipe9 {
    margin-left: 50%;
    width: 50px;
    height: 10px;
    background-color: #eef2e9;
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .pipe10 {
    margin-left: 55%;
    width: 70px;
    height: 10px;
    background-color: #eef2e9;
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .pipe11 {
    margin-top: 18%;
    margin-left: 54%;
    width: 250px;
    height: 10px;
    background-color: #045037b4;
  }

  .pipe12 {
    margin-top: -5%;
    margin-left: 62%;
    width: 149px;
    height: 10px;
    background-color: #045037b4;
  }


  .pipe13 {
    margin-top: -7.10%;
    margin-left: 86%;
    width: 120px;
    height: 10px;
    background-color:#045037b4;
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .pipe14 {
    margin-top: 2%;
    margin-left: 72%;
    width: 161px;
    height: 10px;
    background-color: #045037b4;
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .motor1 {
    width: 40px;
    height: 70px;
    margin-top: -110px;
      margin-left: 250px;
    transform: translate(-50%,-50%) rotate(90deg);
    position: relative;
    background-color: #045037b4;
    border-radius: 50% / 10%;
  }
  
  .motor1:before {
    content: "";
    position: absolute;
    top: 112%;
    margin-left: 20px;
    width: 20px;
    height: 33px;
    background-color: #045037b4;
    border-radius: 50%/10%;
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .motor1:after {
    content: "";
    position: absolute;
    top: 150%;
    left: 20px;
    width: 35px;
    height: 8px;
    background-color: #045037b4;
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .motor2 {
    width: 40px;
    height: 70px;
    margin-top: 5px;
    margin-left: 250px;
    transform: translate(-50%,-50%) rotate(90deg);
    position: relative;
    background-color: #045037b4;
    border-radius: 50% / 10%;
  }
  
  .motor2:before {
    content: "";
    position: absolute;
    top: 112%;
    margin-left: 20px;
    width: 20px;
    height: 33px;
    background-color: #045037b4;
    border-radius: 50%/10%;
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .motor2:after {
    content: "";
    position: absolute;
    top: 150%;
    left: 20px;
    width: 35px;
    height: 8px;
    background-color:#045037b4;
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .pipe15 {
    margin-top: -11.5%;
    margin-left: 19.8%;
    width: 200px;
    height: 10px;
    background-color: #045037b4;
    transform: translate(-50%, -50%) rotate(180deg);
  }
  
  .pipe16 {
    margin-left: 13%;
    width: 31.8px;
    height: 10px;
    background-color: #045037b4;
    transform: translate(-50%, -50%) rotate(90deg);
  }


  .motor3 {
    width: 40px;
    height: 70px;
    margin-top: 13.5%;
    margin-left: 65%;
    transform: translate(-50%,-50%) rotate(90deg);
    position: relative;
    background-color: #045037b4;
    border-radius: 50% / 10%;
  }
  
  .motor3:before {
    content: "";
    position: absolute;
    top: 112%;
    margin-left: 20px;
    width: 20px;
    height: 33px;
    background-color: #045037b4;
    border-radius: 50%/10%;
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .motor3:after {
    content: "";
    position: absolute;
    top: 140%;
    left: 20px;
    width: 20px;
    height: 8px;
    background-color: #045037b4;
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .motor4 {
    width: 40px;
    height: 70px;
    margin-top: -4.5%;
    margin-left: 75%;
    transform: translate(-50%,-50%) rotate(90deg);
    position: relative;
    background-color: #045037b4;
    border-radius: 50% / 10%;
  }
  
  .motor4:before {
    content: "";
    position: absolute;
    top: 112%;
    margin-left: 20px;
    width: 20px;
    height: 33px;
    background-color: #045037b4;
    border-radius: 50%/10%;
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .motor4:after {
    content: "";
    position: absolute;
    top: 139%;
    left: 20px;
    width: 25px;
    height: 8px;
    background-color: #045037b4;
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .pipe17 {
    margin-top: -3.8%;
    margin-left: 60%;
    width: 39px;
    height: 10px;
    background-color:#045037b4;
    border-bottom-left-radius: 30%;
    border-top-left-radius: 30%;
    transform: translate(-50%,-50%) rotate(90deg);
  }

  .pipe18 {
    margin-top: -0.3%;
    margin-left: 70%;
    width: 44px;
    height: 10px;
    background-color: #045037b4;
    border-bottom-left-radius: 30%;
    border-top-left-radius: 30%;
    transform: translate(-50%,-50%) rotate(90deg);
  }

  .pipe19 {
    margin-top: -3.3%;
    margin-left: 62%;
    width: 29px;
    height: 10px;
    background-color: #045037b4;
    border-bottom-left-radius: 30%;
    border-top-left-radius: 30%;
    transform: translate(-50%,-50%) rotate(90deg);
  }

  .pipe20 {
    margin-top: -10.9%;
    margin-left: 76.3%;
    width: 144px;
    height: 10px;
    background-color: #045037b4;
    transform: translate(-50%, -50%) rotate(180deg);
  }

  .pipe21 {
    margin-top: 1.5%;
    margin-left: 80.6%;
    width: 60px;
    height: 10px;
    background-color: #045037b4;
    transform: translate(-50%, -50%) rotate(90deg);
  }


  .motor5 {
    width: 40px;
    height: 70px;
    margin-top: -4.5%;
    margin-left: 91%;
    transform: translate(-50%,-50%) rotate(90deg);
    position: relative;
    background-color: #045037b4;
    border-radius: 50% / 10%;
  }
  
  .motor5:before {
    content: "";
    position: absolute;
    top: 112%;
    margin-left: 20px;
    width: 20px;
    height: 33px;
    background-color: #045037b4;
    border-radius: 50%/10%;
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .motor5:after {
    content: "";
    position: absolute;
    top: 141.3%;
    left: 29px;
    width: 34px;
    height: 10px;
    background-color: #045037b4;
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .motor6 {
    width: 40px;
    height: 70px;
    margin-top: 1.5%;
    margin-left: 91%;
    transform: translate(-50%,-50%) rotate(90deg);
    position: relative;
    background-color: #045037b4;
    border-radius: 50% / 10%;
  }
  
  .motor6:before {
    content: "";
    position: absolute;
    top: 112%;
    margin-left: 20px;
    width: 20px;
    height: 33px;
    background-color: #045037b4;
    border-radius: 50%/10%;
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .motor6:after {
    content: "";
    position: absolute;
    top: 139%;
    left: 20px;
    width: 25px;
    height: 8px;
    background-color: #045037b4;
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .pipe22 {
    margin-top: -14%;
    margin-left: 93%;
    width: 144px;
    height: 10px;
    background-color: #045037b4;
    transform: translate(-50%, -50%) rotate(180deg);
  }

  .pipe23 {
    margin-top: 0.5%;
    margin-left: 88.3%;
    width: 45px;
    height: 10px;
    background-color: #045037b4;
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .pipe24 {
    margin-top: 5%;
    margin-left: 93%;
    width: 144px;
    height: 10px;
    background-color: #045037b4;
    transform: translate(-50%, -50%) rotate(180deg);
  }

  .pipe25 {
    margin-top: 0%;
    margin-left: 88.3%;
    width: 31px;
    height: 10px;
    background-color: #045037b4;
    transform: translate(-50%, -50%) rotate(90deg);
  }


  .rectangle1-box {
    border-top-right-radius: 39% ;
    border-bottom-left-radius: 39%;
    margin-left: 12%;
    margin-top: -18%;
    width: 170px;
    height: 70px;
    background-color: rgba(253, 212, 7, 0.687);
  }

  .rectangle2-box {
    border-top-right-radius: 39% ;
    border-bottom-left-radius: 39%;
    margin-left: 58%;
    width: 170px;
    height: 70px;
    background-color: rgba(253, 212, 7, 0.687);
  }

  .rectangle3-box {
    border-top-right-radius: 39% ;
    border-bottom-left-radius: 39%;
    margin-left: 83%;
    margin-top: -6%;
    width: 170px;
    height: 70px;
    background-color: rgba(253,212,7,0.687);
  }

  .rectangle4-box {
    border-top-right-radius: 39% ;
    border-bottom-left-radius: 39%;
    margin-left: 62%;
    margin-top: 28%;
    width: 170px;
    height: 70px;
    background-color: rgba(253, 212, 7, 0.687);
  }