{% load static %}
<!doctype html>
<html class="no-js " lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<meta name="description" content="ETP Dashboard">
<title>ETP :: {% block title %}   {% endblock %}</title>

<link rel="icon" href="{% static 'assets/favicon.ico' %}" type="image/x-icon"> <!-- Favicon-->
<link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css' %}"/>
<link rel="stylesheet" href="{% static 'assets/plugins/charts-c3/plugin.css' %}"/>

<link rel="stylesheet" href="{% static 'assets/plugins/morrisjs/morris.min.css' %}" />

<link rel="stylesheet" href="{% static 'assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css' %}">



<!-- Select2 -->
<link rel="stylesheet" href="{% static 'assets/plugins/select2/select2.css' %}" />

<link rel="stylesheet" href="{% static 'assets/plugins/multi-select/css/multi-select.css' %}">
<!-- Custom Css -->
<link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}">




</head>

<body class="theme-blush" style="background-color: #f0fafc;">


<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img class="zmdi-hc-spin" src="{% static 'assets/images/loader.svg' %}" width="48" height="48" alt="Aero"></div>
        <p>Please wait...</p>
    </div>
</div>
{% block body %}


<!-- Overlay For Sidebars -->
<div class="overlay"></div>



<!-- Right Icon menu Sidebar -->
<div class="navbar-right">
    <ul class="navbar-nav">
        
        <li class="dropdown" data-step="12" data-intro="Click Here to for Notifications!">
            <a href="javascript:void(0);" class="dropdown-toggle" title="Notifications" data-toggle="dropdown" role="button"><i class="zmdi zmdi-notifications"></i>
                <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
            </a>
            <ul class="dropdown-menu slideUp2">
                <li class="header">Notifications</li>
                <li class="body">
                    <ul class="menu list-unstyled">
                        {% block notification %}
                
                        {% endblock %}
                    </ul>
                </li>
                <li class="footer"> <a href="/faultreport/">View All Notifications</a> </li>
            </ul>
        </li>
        
        <li data-step="13" data-intro="Click Here to for Dashboard setting!"><a href="javascript:void(0);" class="js-right-sidebar" title="Setting"><i class="zmdi zmdi-settings zmdi-hc-spin"></i></a></li>
        <li data-step="14" data-intro="Click Here to for Logout!"><a href="{% url 'logout' %}" class="mega-menu" title="Sign Out"><i class="zmdi zmdi-power"></i></a></li>
    </ul>
</div>

{% block leftsidebar %}
<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">
    <div class="navbar-brand">
        <button class="btn-menu ls-toggle-btn" type="button"><i class="zmdi zmdi-menu"></i></button>
        <a href="/{{ request.user.user_addon.role }}/"><img src="{% static 'assets/images/thumbnail.png' %}" width="100%" alt="Aero"></a>
    </div>
    <div class="menu">
        <ul class="list">
            <li>
                <div class="user-info">
                    <a class="image" href="/profile/" data-step="10" data-intro="Click Here to see your Profile!"><img src="{% if user.userprofile.profile_picture %}{{ user.userprofile.profile_picture.url }}{% else %}{% static 'assets/images/profile_av.jpg' %}{% endif %}" alt="Profile Picture" width="55px" height="55px"></a>
                    <div class="detail">
                        <h4>{{ request.user.username|upper }}</h4>
                        <small><strong>Role:</strong> {{ request.user.user_addon.role|upper }}</small>                        
                    </div>
                </div>
            </li>
            <li class="active open" data-step="1" data-title="Learn how to use this webiste!" data-intro="Click here for Home Page!"><a href="/{{ request.user.user_addon.role }}/"><i class="zmdi zmdi-home"></i><span>Dashboard</span></a></li>
            <li  data-step="2" data-intro="Click Here to see HMIs"><a href="/hmi/"><i class="zmdi zmdi-portable-wifi"></i><span> Live Plant Status(HMI)</span></a></li>
            <li data-step="3" data-intro="Click Here to see Reports"><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-receipt"></i><span>Reports</span></a>
                <ul class="ml-menu">
                    <li><a href="/plantreport/">Plant Reports</a></li>
                    <li><a href="/faultreport/">Fault Reports</a></li>                   
                </ul>
            </li>

            {% block lmenu %}
            
            {% endblock %}

            <li><a href="javascript:introJs().setOptions({ skipUndefined: true }).start();">
                <i class="zmdi zmdi-help"></i><span>HELP!</span></a>
            </li>
            
        </ul>
    </div>
</aside>
{% endblock %}

{% block rightsidebar %}

<!-- Right Sidebar -->
<aside id="rightsidebar" class="right-sidebar">
    <ul class="nav nav-tabs sm">
        <li class="nav-item" ><a class="nav-link active" data-toggle="tab" href="#setting"><i class="zmdi zmdi-settings zmdi-hc-spin"></i></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="setting">
            <div class="slim_scroll">
                
                <div class="card">
                    <h6>Color Skins</h6>
                    <ul class="choose-skin list-unstyled">
                        <li data-theme="purple"><div class="purple"></div></li>
                        <li data-theme="blue"><div class="blue"></div></li>
                        <li data-theme="cyan"><div class="cyan"></div></li>
                        <li data-theme="green"><div class="green"></div></li>
                        <li data-theme="orange"><div class="orange"></div></li>
                        <li data-theme="blush" class="active"><div class="blush"></div></li>
                    </ul>                                        
                </div>
                <div class="card">
                    <h6>General Settings</h6>
                    <ul class="setting-list list-unstyled">
                        <li>
                            <div class="checkbox rtl_support">
                                <input id="checkbox1" type="checkbox" value="rtl_view">
                                <label for="checkbox1">RTL Version</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox ms_bar">
                                <input id="checkbox2" type="checkbox" value="mini_active">
                                <label for="checkbox2">Mini Sidebar</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input id="checkbox3" type="checkbox" checked="">
                                <label for="checkbox3">Notifications</label>
                            </div>                        
                        </li>
                    </ul>
                </div>                
            </div>                
        </div>       
    </div>
</aside>

{% endblock %}



<!-- Main Content -->
{% block maincontent %}

{% endblock %}


{% endblock %}



<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script src="{% static 'index.js' %}"></script>

<!--Introjs-->
<script src="https://cdn.jsdelivr.net/npm/intro.js@6.0.0/intro.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intro.js@6.0.0/introjs.min.css">

<!-- Jquery Core Js --> 
<script src="{% static 'assets/bundles/libscripts.bundle.js' %}"></script> <!-- Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js) --> 
<script src="{% static 'assets/bundles/vendorscripts.bundle.js' %}"></script> <!-- slimscroll, waves Scripts Plugin Js -->

<script src="{% static 'assets/plugins/momentjs/moment.js' %}"></script> <!-- Moment Plugin Js -->



<script src="{% static 'assets/bundles/jvectormap.bundle.js' %}"></script> <!-- JVectorMap Plugin Js -->
<script src="{% static 'assets/bundles/sparkline.bundle.js' %}"></script> <!-- Sparkline Plugin Js -->
<script src="{% static 'assets/bundles/c3.bundle.js' %}"></script>


<script src="{% static 'assets/plugins/jvectormap/jquery-jvectormap-in-mill.js' %}"></script><!-- India Map Js -->

<script src="{% static 'assets/bundles/mainscripts.bundle.js' %}"></script>
<script src="{% static 'assets/js/pages/index.js' %}"></script>





<script src="{% static 'assets/js/pages/charts/c3.js' %}"></script>

<script src="{% static 'assets/js/pages/maps/jvectormap.js' %}"></script>

<!--<script src="{% static 'assets/js/pages/calendar/calendar.js' %}"></script>-->


<!-- Jquery DataTable Plugin Js --> 
<script src="{% static 'assets/bundles/datatablescripts.bundle.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-datatable/buttons/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-datatable/buttons/buttons.colVis.min.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-datatable/buttons/buttons.flash.min.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-datatable/buttons/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-datatable/buttons/buttons.print.min.js' %}"></script>

<script src="{% static 'assets/plugins/multi-select/js/jquery.multi-select.js' %}"></script> <!-- Multi Select Plugin Js -->

<script src="{% static 'assets/plugins/select2/select2.min.js' %}"></script> <!-- Select2 Js -->

<script src="{% static 'assets/js/pages/tables/jquery-datatable.js' %}"></script>

<script src="{% static 'assets/js/pages/forms/advanced-form-elements.js' %}"></script> 

<script src="{% static 'assets/js/pages/forms/form-validation.js' %}"></script>



</body>
</html>