{% extends 'main.html' %}
{% load static %}

{% block maincontent %}
<section class="content">
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>LIVE PLANT STATUS</h2>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button">
                        <i class="zmdi zmdi-sort-amount-desc"></i>
                    </button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button">
                        <i class="zmdi zmdi-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>

        {% if request.user.user_addon.role != 'guest' %}
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Select</strong> Site</h2>
                        <br>
                        <div class="body">
                            <div class="col">
                                <form method="POST" id="search-form">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col">
                                            <select class="form-control show-tick ms select2" data-placeholder="Select"
                                                name="siteid" id="siteid" onchange="submitForm()">
                                                {% for i in site %}
                                                <option value="{{ i.smno }}" {% if i.smno == nsmno %}selected{% endif %}>{{ i.smno }}::{{i.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <script type="text/javascript">
            function submitForm() {
                            document.getElementById("search-form").submit();
                        }
        </script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
                function updateUI(data) {
                    if (data.hasOwnProperty('ob') && data.hasOwnProperty('etp')) {
                        updateBinaryValue('ob', data.ob);
                        updateBinaryValue('etp', data.etp);
                    }
                }

                function updateBinaryValue(valueName, binaryValue) {
                    var bitsContainer = $('#' + valueName + '-bits-container');
                    if (bitsContainer.length > 0) {
                        var bits = bitsContainer.find('.bit');
                        if (bits.length === binaryValue.length) {
                            bits.each(function (index) {
                                updateBit($(this), binaryValue.charAt(index));
                            });
                        }
                    }
                }

                function updateBit(element, bitValue) {
                    if (bitValue === '1') {
                        element.css('background-color', 'green');
                    } else {
                        element.css('background-color', 'red');
                    }
                }

                function fetchETPFlow() {
                    var selectedValue = document.getElementById("siteid").value || document.getElementById("siteid").options[0].value;

                    console.log(selectedValue)

                    $.ajax({
                        url: '/hmi_view/'+selectedValue,
                        method: 'GET',
                        success: function (data) {
                            updateUI(data);
                        },
                        error: function (xhr, status, error) {
                            console.log('Error:', error);
                        }
                    });
                }

                fetchETPFlow();

                setInterval(fetchETPFlow, 5000);
            });
        </script>

        <style>
            .bit-container {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
            }

            .bit {
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 5px;
                margin-bottom: 8px;
                margin-left: 5px;
            }

            .bit-label {
                margin-right: 10px;
                margin-left: 30px;
            }

            @media (max-width: 576px) {
                .bit-label {
                    margin-right: 0;
                    margin-bottom: 5px;
                    margin-left: 0;
                }
            }
        </style>

        <div id="etp-bits-container" class="bit-container">
            <h5 class="bit-label">AUTO/MANUAL</h5>
            <span class="bit" id="etp-bit-1"></span>

            <h5 class="bit-label">RECIRC/TFR</h5>
            <span class="bit" id="etp-bit-0"></span>
        </div>

        <div>
            <img src="{% static 'assets/hmi.png' %}" width="100%" alt="HMI">
        </div>

        <div id="ob-bits-container" class="bit-container">
            <h5 class="bit-label">ITP 1</h5>
            <span class="bit" id="ob-bit-0"></span>
            <h5 class="bit-label">FFP 1</h5>
            <span class="bit" id="ob-bit-1"></span>
            <h5 class="bit-label">BLOWER 1</h5>
            <span class="bit" id="ob-bit-2"></span>
            <h5 class="bit-label">STP 1</h5>
            <span class="bit" id="ob-bit-3"></span>
            <h5 class="bit-label">ITP 2</h5>
            <span class="bit" id="ob-bit-4"></span>
            <h5 class="bit-label">FFP 2</h5>
            <span class="bit" id="ob-bit-5"></span>
            <h5 class="bit-label">BLOWER 2</h5>
            <span class="bit" id="ob-bit-6"></span>
            <h5 class="bit-label">STP 2</h5>
            <span class="bit" id="ob-bit-7"></span>
        </div>
    </div>
</section>
{% endblock %}
