
{% extends 'main.html' %}
{% load static %}
{% block title %}
    Manage Tickets
{% endblock %}
{% block maincontent %}

<section class="content">
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Manage Tickets</h2>
           
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">                
                    <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
                </div>
            </div>
        </div> 


        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>Download </strong> Report</h2>
                        </div>
                        <div class="body">

                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                    <thead>
                                        <tr>
                                            <th>SNo.</th>
                                            <th>Site Name</th>
                                            <th>SMno</th>
                                            <th>Caretaker Name</th>
                                            <th>Mobile</th>
                                            <th>Maintance Date</th>
                                            <th>Maintance Time</th>
                                            <th>Description</th>
                                            <th>Status</th>
                                            <th> </th> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in mt|dictsort:"uname" %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ item.site.name }}</td>
                                                <td>{{ item.site.smno }}</td>
                                                <td>{{ item.uname }}</td>
                                                <td>{{ item.umob }}</td>
                                                <td>{{ item.mdate }}</td>
                                                <td>{{ item.mtime }}</td>
                                                <td id="description-{{ item.id }}">{{ item.Desc }}</td>
                                                <td id="status-{{ item.id }}">{{ item.status }}</td>
                                                <td>
                                                    <button onclick="showEditAlert('{{ item.id }}','{{ csrf_token }}')" class="btn btn-danger">Edit</button>
                                                </td>                                    
                                            </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}