
<!DOCTYPE  html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <title>ETP :: Privacy Policy</title>
      <meta name="author" content="DELL INSPIRON"/>
      <style type="text/css"> * {margin:0; padding:0; text-indent:0; }
         .s1 { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 14.5pt; }
         .s2 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt; }
         .s3 { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 8pt; }
         .s4 { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt; }
         .s5 { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 11pt; }
         p { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; margin:0pt; }
         h1 { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 11pt; }
         table, tbody {vertical-align: top; overflow: visible; }
      </style>
   </head>
   <body style="margin-right:10%;margin-left:5%;margin-top:2%;">
                <center><h3>Privacy Policy</h3></center>
               <p style="text-indent: 0pt;text-align: left;"><br/></p>
               <p style="padding-left: 7pt;text-indent: 0pt;text-align: left;">
                  <span>
               
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <p style="padding-top: 2pt;padding-left: 14pt;text-indent: 0pt;line-height: 113%;text-align: left;">Aster Technologies IOT services. This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site.</p>
      <p style="padding-left: 14pt;text-indent: 0pt;line-height: 114%;text-align: left;">We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the collection and use of information in accordance with this policy.</p>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <h1 style="padding-top: 2pt;padding-left: 14pt;text-indent: 0pt;text-align: left;">Information Collection and Use</h1>
      <p style="padding-top: 2pt;padding-left: 14pt;text-indent: 0pt;line-height: 113%;text-align: left;">While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name</p>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <h1 style="padding-top: 2pt;padding-left: 14pt;text-indent: 0pt;text-align: justify;">Log Data</h1>
      <p style="padding-top: 1pt;padding-left: 14pt;text-indent: 0pt;text-align: justify;">Like many site operators, we collect information that your browser sends whenever you visit our Site.</p>
      <p style="padding-top: 2pt;padding-left: 14pt;text-indent: 0pt;line-height: 114%;text-align: justify;">This Log Data may include information such as your computer&#39;s Internet Protocol (&quot;IP&quot;) address, browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics.</p>
      <p style="padding-left: 14pt;text-indent: 0pt;text-align: justify;">In addition, we may use third party services that collect, monitor and analyze the same</p>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <h1 style="padding-top: 2pt;padding-left: 14pt;text-indent: 0pt;text-align: left;">Communications</h1>
      <p style="padding-top: 1pt;padding-left: 14pt;text-indent: 0pt;text-align: left;">We may use your Personal Information to contact you with newsletters, marketing or promotional materials.</p>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <h1 style="padding-top: 2pt;padding-left: 14pt;text-indent: 0pt;text-align: left;">Cookies</h1>
      <p style="padding-top: 1pt;padding-left: 14pt;text-indent: 0pt;line-height: 114%;text-align: justify;">Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer&#39;s hard drive.</p>
      <p style="padding-left: 14pt;text-indent: 0pt;line-height: 114%;text-align: justify;">Like many sites, we use &quot;cookies&quot; to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Site.</p>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <h1 style="padding-left: 14pt;text-indent: 0pt;text-align: left;">Security</h1>
      <p style="padding-top: 2pt;padding-left: 14pt;text-indent: 0pt;line-height: 114%;text-align: justify;">The security of your Personal Information is important to us , but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <h1 style="padding-top: 2pt;padding-left: 14pt;text-indent: 0pt;text-align: justify;">Changes To This Privacy Policy</h1>
      <p style="padding-top: 1pt;padding-left: 14pt;text-indent: 0pt;line-height: 114%;text-align: justify;">This Privacy Policy is effective as of 1 DEC 2021 and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page.</p>
      <p style="padding-left: 14pt;text-indent: 0pt;line-height: 114%;text-align: justify;">We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy.</p>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <h1 style="padding-left: 14pt;text-indent: 0pt;text-align: justify;">Contact Us</h1>
      <p style="padding-top: 2pt;padding-left: 14pt;text-indent: 0pt;text-align: justify;">If you have any questions about this Privacy Policy, please contact us at support@embarkwater.com </p>

      <br>

      <hr>

   </body>
</html>